.intro  {
    color: brown;
}
p.intro  {
    color: burlywood;
}
.title  {
    font: 500;
    font-size: xx-large;
    color: tomato;
}
h2  {
    text-align: left;
    color: crimson;
}
ol  {
    color: darkorange;
    text-decoration: darkslategray;
    font-size: larger;
}
h3  {
    text-align: left;
    color: crimson;
}
body  {
    background-color: purple;
}
.tropical  {
    color: violet;
}
.popular  {
    color: turquoise;
}